#div-lat-1{
    background-color: #696969;
    height: 100%;
    width: 20%;
    margin-left: 0px;  
    float: left;

  }
  #botao{
    background-color: #D3D3D3;
    height: 10%;
    margin:3px;
  }
  
  
  #div-lat-interna-2{
    background-color: #D3D3D3;
    height: 10%;
    margin:3px;
  
  }
  #select-dropdown{
    position: relative;
    top:50px;
    left: 20%;
  }
  #slide{
    background-color: #696969;
    height: 100%;
    width: 10%;
    left: 20%;
    display: none;
    overflow: hidden;
    z-index: 1;
    float: left;
    position:fixed;
  }
  
  #div-lat-2{
    background-color:#D3D3D3;
    height: 100%;
    width: 80%;
    left: 20%;
    float: left;

  }

  p{
    text-align: center;
  }

  input[type="text"] {
    width: 45px;
    position: relative;
    left:40%;
    display: block;
    margin-bottom: 10px;
  }
  
  
  
 


  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100);
  *, ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  html{
    width: 100%;
    height: 100%;
  }
  body{
    font-family: 'Roboto', sans-serif;;
    font-size: 100%;
    margin: 0;
    padding: 0;
  }
  .container{
    width: 1000px;
    height: auto;
    margin: 0 auto;
  }
  .row{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  
  input {
    display: none;
  }
  
  .box-paginacao {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    top:50px;
  }
  .box-paginacao h2 {
    width: 100%;
    height: auto;
    float: left;
    margin: 0 0 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #3CA3F2;
  }
  .box-paginacao .box-obs {
    width: 100%;
    height: 371px;
    float: left;
    overflow: hidden;
    position: relative;
  }
  .box-paginacao ul {
    width: 100%;
    height: auto;
    float: left;
  }
  .box-paginacao ul li {
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 0 10px 60px;
    border: 1px solid #c0c8c9;
    border-radius: 10px;
    line-height: 250px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #2E2929;
  }
  .box-paginacao .a1,
  .box-paginacao .a2,
  .box-paginacao .a3,
  .box-paginacao .a4 {
    width: 100%;
    height: 336px;
    float: left;
    margin-bottom: 33px;
  }
  
  .btn-paginacao {
    width: 50%;
    height: auto;
    float: left;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;

  }
  .btn-paginacao ul {
    width: auto;
    height: auto;
  }
  .btn-paginacao ul li {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 5px 0 0;
    border: 0;
  }
  .btn-paginacao ul li:last-child {
    margin: 0;
  }
  .btn-paginacao ul li label {
    width: 100%;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3px;

  }
  
  
  #paginacao1:checked ~ .box-obs> ul {
    transition: transform .7s ease-in-out;
    transform: translateY(0px);
  }
  
  
  
  #paginacao2:checked ~ .box-obs > ul {
    transition: transform .7s ease-in-out;
    transform: translateY(-369px);
  }
  

  #paginacao3:checked ~ .box-obs > ul {
    transition: transform .7s ease-in-out;
    transform: translateY(-738px);
  }
  

  
  #paginacao4:checked ~ .box-obs > ul {
    transition: transform .7s ease-in-out;
    transform: translateY(-1107px);
  }
  
  .mais{
    width: 147px;
    height: auto;
    position: absolute;
    bottom: 7px;
    right: 0;
    text-align: center;
  }
  .mais a{
    font-size: 1.2em;
  }
        

  