<html>
  <head>
    <title>Teste JS</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="/bin/src.js"></script>
  </head>
  <body>
    <div id="div-lat-1">

      <div id="botao">
        <p id="options">Option</p>
      </div>

      <div id="div-lat-interna-2">
        <p>Quatity</p>
        <input type="text"/>
          
       </select>
      </div>
    </div>

    <div id="slide">
      <select id="select-dropdown">
        <option>Dropdown</option>
        <option value="A">A</option>
        <option value="B">B</option>
        
     </select>
    </div>

    <div id="div-lat-2">
        <section class="container">
            <div class="row">    
            </div>
        
            <div class="box-paginacao">
              <input type="radio" name="input-paginacao" id="paginacao1" checked>
              <input type="radio" name="input-paginacao" id="paginacao2">
              <input type="radio" name="input-paginacao" id="paginacao3">
              <input type="radio" name="input-paginacao" id="paginacao4">
              <div class="box-obs">
                <ul>
                  <div class="a1">
                    <li>Item A1</li>
                    <li>Item A2</li>
                    <li>Item A3</li>
                  </div>
                  <div class="a2">
    
                    <li>Item A4</li>
                    <li>tem A5</li>
                    <li>tem A6</li>
                  </div>
                  <div class="a3">
                    <li>Item A7</li>
                    <li>tem A8</li>
                    <li>tem A9</li>
                  </div>
                  <div class="a4">
                    <li>Item A10</li>
                    <li>tem A11</li>
                    <li>tem A12</li>
                  </div>
                </ul>                  
                <div class="btn-paginacao">
                  <ul>
                    <li><label for="paginacao1"><</label></li>
                    <li><label for="paginacao2">></label></li>
                   
                  </ul>
                </div>
              </div>
            </div>
            
          </section>
        <div class="mais">
          </div>
    
    <div>

  </body>
</html>