<html>
  <head>
    <title>Teste JS</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <script src="/bin/src.js"/></script>
  </head>
  <body>
    <div id="div-lat-1">

      <div id="div-lat-interna-1">
        <p id="options">Option</p>
      </div>

      <div id="div-lat-interna-1">
        <p>Quatity</p>
        <button id="botao">Type here</button>
      </div>
    </div>

    <div id="slide">
      <h1>Teste</h1>
    </div>

    <div id="div-lat-2">
      <h1>Teste 2</h1>
    <div>

  </body>
</html>